<ion-header>
    <div class="color-back">
    <ion-toolbar color="Primary">
          <ion-title>
        <div >
          <h1 class="neonText">
              Perfil
          </h1></div>
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu= "tab-menu"  ></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  </ion-header>
<ion-content>
  <ion-label >Usuario: {{data.usuario}}</ion-label>
    <ion-avatar>
      <img src="/src/assets/icon/disco.png">
    </ion-avatar>

</ion-content>
