<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Iniciar Sesión</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
  
                          <ion-item>
                            <ion-item lines="full">
                                <ion-label position="floating">Usuario</ion-label>
                                <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
                                <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
                              </ion-item>
                          </ion-item>
                          <br />
                          <ion-item>
                            <ion-item lines="full">
                                <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
                                <ion-label position="floating">Password</ion-label>
                                <ion-input type="password" [(ngModel)]="user.password"></ion-input>
                              </ion-item>
                          </ion-item>
  
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button type="submit" fill="solid" expand="full" (click)="ingresar()">
                          Entrar
                      </ion-button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label>
                          <h3>¿Olvido la contraseña?</h3>
                      </ion-label>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-slide>