<ion-app>


  <ion-header>


    <ion-toolbar>
      <app-navmenu></app-navmenu>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
      </ion-buttons>

    </ion-toolbar>

    <div class="color-back">
    <ion-toolbar color="rgb 30-187-215">
          <ion-title>
        <div>
          <h1 class="neonText">
            TOUR PARTY
          </h1></div>
      </ion-title>
    </ion-toolbar>
  </div>
  </ion-header>
  
<ion-content>
</ion-content>
</ion-app>


