<ion-app>


  <ion-header>
    <div class="color-back">
    <ion-toolbar color="Primary">
          <ion-title>
        <div >
          <h1 class="neonText">
            Tour Party
          </h1></div>
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu= "tab-menu" autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
  </ion-header>
<ion-content  >
 <ion-label class="neonText" >Bienvenido : {{data.usuario}}</ion-label>

 <ion-link rel="preconnect" href="https://fonts.gstatic.com"></ion-link>
 <ion-link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet"></ion-link>

 <a href="#" class="neon-button">Neon</a>


</ion-content>
</ion-app>

